.video-card {
  // max-width: 300px;
  border-style: none;
}

.video-thumbnail {
  width: 100%;
}

.video-name {
  color: black;
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .video-name {
    font-size: 8px;
  }
}