@import "../../styles.conf.scss";

$title-size: min(2vw, 15px);

.video-card {
  // max-width: 300px;
  border-style: none;
  background-color: $background;
}

.video-thumbnail {
  width: 100%;
  border-radius: 0.2em;
}

.video-name {
  color: $text;
  font-size: $title-size;
  text-align: center;
  padding: 0 0 5px 0;
}

.video-snapshot {
  font-size: $title-size;
  position: absolute;
  top: 0;
  // width: 100%;
  margin: 0;
  padding: 2px 5px;
}