@import "../node_modules/picnic/picnic.min.css";
@import "./styles.conf.scss";

body {
    padding: 10px;
    background-color: $background;
}

body {
    color: $text;
}

@media only screen and (max-width: 600px) {
    .day-gpx {
        float: none;
        width: 100%;
    }

    .gpx-download-button {
        width: 100%;
        padding-top: 0;
    }
}